/** Breakpoints */
$breakpoint-xsmall: 0;
$breakpoint-small: 600px;
//$breakpoint-medium: 768px;
$breakpoint-large: 1366px;

/** Colors */
$color-white: #ffffff;
$color-black: #000;
$bg-primary: #F2F3F4;

$color-text-navbar: #575757;

$color-text: #2d2d2d;
$color-disabled: #cbcbcb;