@import "../../styles/includes.scss";

.listContainer {
    display: grid;
    grid-template-columns: repeat(3, 256px);
    grid-gap: 32px
}

@media (max-width: 1160px) {
    .listContainer {
        grid-template-columns: repeat(2, 256px);
        grid-gap: 32px
    }
}

@media (max-width: 612px) {
    .listContainer {
        grid-template-columns: repeat(1, 256px);
    }
}