@import "../../styles/includes.scss";

.headerContainer {
    max-width: 100vw;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 8rem;
    background: $color-black;
}

.headerContent {
    height: 8rem;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px 160px;

    a {
        padding-right: 20px;
        color: $color-white;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 150%;
    }
}

@media (max-width: 800px) {
    .headerContent {
        padding: 1rem 1rem;

        a {
            font-size: 2rem;
        }
    }
}

@media (max-width: 798px) {
    .headerContainer {
        height: 12rem;
    }

    .headerContent {
        flex-direction: column;

        a {
            padding-bottom: 1rem;
        }
    }
}