@import "../../styles/includes.scss";

.headerContainer {
    max-width: 100vw;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 8rem;
    background: $color-black;
}

.headerContent {
    height: 8rem;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 0.5rem;

    padding: 20px 160px;

    a {
        padding-right: 20px;
        color: $color-white;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 150%;
    }

    // nav {
    //     margin-left: 5rem;
    //     height: 5rem;
    // }

    // button {
    //     margin-left: auto;
    // }
}