@import "../../styles/includes.scss";

.headerContainer {
    height: 6rem;
    background: $color-black;
}

.headerContent {
    max-width: 1120px;
    height: 6rem;
    // margin: 0 auto;
    // padding: 0 2rem;
    padding: 20px 160px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: $color-white;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 150%;
    }

    // nav {
    //     margin-left: 5rem;
    //     height: 5rem;
    // }

    // button {
    //     margin-left: auto;
    // }
}