@import "../../../styles/includes.scss";

.inputContainer {
    position: relative;
    width: 500px;
    border: none;

    background: $color-white;

    display: flex;
    flex-wrap: wrap;
    align-content: center;

    width: calc(32rem - 3rem);

    svg {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.primaryInput {
    width: 100%;
    height: 4rem;
    padding: 10px 16px;
    // padding: 8px;
    border: none;

    font-weight: 400;
    font-size: 1.4rem;
    line-height: 22px;

    color: $color-text-navbar;
    background: $color-white;
}